.removeShadow {
    outline: 0 !important;
    box-shadow: none !important;
}

.srch {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    &:focus {
        @extend .removeShadow;
    }
}

.srch-button {
    background: black;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
        @extend .removeShadow;
    }
}