<h1 class="main-heading">Main Heading</h1>
<div class="card-columns">

    <div class="card">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Components</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </a>
        </div>
    </div>
    <div class="card p-3">
        <div class="card-body">
            <h5 class="card-title">Introduction</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Installation</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
        <div class="card-body">
            <h5 class="card-title">Theming</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">FAQ</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div>