.content {
    margin-top: 20px;
    .card-columns{
        display: flex;
        flex-flow: row wrap;

        .card {
            width: calc(25% - 20px);
            margin: 0 10px;
            margin-bottom: 20px;
        }
    }
}